
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mapCanvas{
        height:600px;
    }
</style>
@section jsFooter{
    <script
            src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script>

        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.
        //10.854018, 106.628382

        function initMap() {
            var uluru = { lat: 10.854018, lng: 106.628382 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 18,
                center: uluru
            });

            var contentString = '<p>Công ty TNHH DidoStore</p>' +
                '<p> Địa chỉ: Công viên phần mềm Quang Trung</p>' +
                '<p>Điện thoại: 0123456789</p>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Liên hệ</h2>
                <p>Công ty TNHH DidoStore</p>
                <p>Địa chỉ: Công viên phần mềm Quang Trung</p>
                <p>Điện thoại: 0123456789</p>
            </div>
            <div class="col-md-6">
                <h2>Bản đồ</h2>
                <div class="map" id="mapCanvas">

                </div>
            </div>
        </div>
    </div>
</div>


